@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

/* colors: #243119 #629460 #96BE8C #ACECA1 #C9F2C7 
   colors: #1b1b1e #373F51 #58A4B0 #A9BCD0 #D8DBE2 #eff7f6
   colors: #36b6a9, #003b36
*/

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-size: 62.5%;
}

body {
  background: linear-gradient(180deg, #1b1b1e, #a9bcd0);
  font-size: 10rem;
  margin: 0 3rem;
  font-family: "Orbitron", sans-serif;
  overflow-x: hidden;
}

.background span {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 4px;
  height: 2px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0px 2px rgba(255, 255, 255, 0.1),
    0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 10px rgba(255, 255, 255, 0.5);
  animation: animate 4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    left: 100%;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    left: 0%;
  }
}

.background span::before {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  width: 400px;
  height: 2px;
  background: linear-gradient(90deg, #fff, transparent);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  height: 100vh;
}

.header .title {
  font-size: 8rem;
  font-family: "Orbitron", sans-serif;
  color: #eff7f6;
}

.title h1 {
  width: 500px;
  height: 100vh;
}
.navigator {
  display: flex;
  justify-content: space-between;
  color: #eff7f6;
  font-size: 4rem;
  cursor: pointer;
}

.navigator a {
  color: #eff7f6;
  text-decoration: none;
}

.navigator ul {
  list-style: none;
  display: flex;
  font-size: 4rem;
  gap: 3rem;
}

.about {
  height: 100vh;
}
.our_team {
  height: 100vh;
}
.contact {
  height: 100vh;
}
